<html lang="ko">
<%- include ('./head') %>
<body>
    <h1>글 보기</h1>
    <div class="content">
        <div class="content-header">

            <h2><%= content[0].contenttitle %></h2>
            <dl>
                <dt>글번호</dt>
                <dd><%= content[0].contentid %></dd>
                <dt>작성자</dt>
                <dd><%= content[0].contentauthor %></dd>
                <dt>작성일</dt>
                <dd><%= moment(content[0].createdAt).locale('ko').format('YYYY-MM-DD HH:mm:ss')%></dd>
            </dl>
        </div>
        <div class="content-text">
<pre>
<%= content[0].contenttext %>
</pre>
        </div>
    </div>
    <div class="bottom-btn-group">
        <a href="/list" class="btn primary">목록으로</a>
        <a href="/contentUpdate/<%= content[0].contentid %>" class="btn primary">수정하기</a>
        <a href="" class="btn primary">삭제하기</a>
    </div>
</body>
</html>
