<html lang="ko">
<%- include ('./head') %>
<body>
    <h1>글 수정</h1>
    <div class="btn-group">
        <a href="/list" class="btn primary">목록으로</a>
        <a href="javascript:void(0)" onclick="update(this);" class="btn primary">저장</a>
    </div>
    <div class="content">
        <div class="content-edit">
            <ul class="content-info">
                <li>
                    <label for="contentTitle">제목</label>
                    <input type="text" id="contentTitle" value="<%= content[0].contenttitle %>" readonly>
                </li>
                <li>
                    <label for="contentAuthor">작성자</label>
                    <input type="text" id="contentAuthor" value="<%= content[0].contentauthor %>" readonly>
                </li>
            </ul>
            <textarea name="" id="contenttext_editable" cols="30" rows="10"><%= content[0].contenttext %></textarea>
        </div>
    </div>
    

    <script>
        function update(e){
            let updateContent = {
                contentText: document.querySelector('#contenttext_editable').value
            }
            $.ajax({
                url:"/update/"+"<%= content[0].contentid %>",
                async: true,
                type: "POST",
                dataType: 'text',
                data: updateContent,
            }).done(function(status){
                // console.log('create 성공~!');
                // console.log(data);
                console.log(JSON.parse(status))
                const data = JSON.parse(status);
                if (data.status === 200){
                    alert('저장완료되었습니다.');
                    window.location.replace(data.redirect);
                }
            })
        }
    </script>
</body>
</html>
