<html lang="ko">
<%- include ('./head') %>
<body>
    <h1>게시판</h1>
    <div class="board-topper">
        <a href="/contentWrite" class="btn primary"><i class="fas fa-pen"></i></a>
    </div>
    <div class="board-list">
        <ul>
            <li class="board-header">
                <span>글번호</span>
                <span>글제목</span>
                <span>작성자</span>
                <span>작성일</span>
            </li>
            <!-- <li>
                <a href="/contentView">
                    <span>1</span>
                    <span>안녕하세요 첫 게시글입니다.</span>
                    <span>표호근</span>
                    <span>2020-04-05</span>
                </a>
            </li> -->
            <% for(let i = 0; i < content.length; i++ ){ %>
                <li>
                    <a href="/contentView/<%= content[i].contentid %>">
                        <span><%= content[i]._id%></span>
                        <span><%= content[i].contenttitle%></span>
                        <span><%= content[i].contentauthor%></span>
                        <span><%= moment(content[i].createdAt).locale('ko').format('YYYY-MM-DD HH:mm:ss')%></span>
                    </a>
                </li>
            <% } %>
            <% console.log(content[0].createdAt) %>
        </ul>
    </div>
</body>
</html>
