<!DOCTYPE html>
<html lang="ko">
<%- include ('./head') %>
<body>
    <h1>게시판</h1>
    <div class="board-topper">
        <a href="/contentWrite" class="btn primary"><i class="fas fa-pen"></i></a>
    </div>
    <div class="board-list">
        <ul>
            <li class="board-header">
                <span>글번호</span>
                <span>글제목</span>
                <span>작성자</span>
                <span>작성일</span>
            </li>
            <% if( content.length !== 0 ){ %>
                <% for(let i = 0; i < content.length; i++ ){ %>
                    <li>
                        <a href="/contentView/<%= content[i].contentid %>">
                            <span><%= content[i].contentid%></span>
                            <span><%= content[i].contenttitle%></span>
                            <span><%= content[i].contentauthor%></span>
                            <span><%= moment(content[i].createdAt).locale('ko').format('YYYY-MM-DD HH:mm:ss')%></span>
                        </a>
                    </li>
                <% } %>
            <% } else { %>
                <li class="no-result">게시글이 없습니다.</li>
            <% } %>
        </ul>
    </div>
    <div class="btn-group al-center">
        <a href="javascript:void(0)" onclick="contentMore(this)" class="btn outline primary more-btn" id="moreBtn">더보기</a>
    </div>
</body>
</html>
